@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Nunito:ital,wght@1,700&display=swap');
:root {
        /* Cores padroes*/
    --color-bg-color:#121528;
    --color-text-white:#e5e5e6;
    --color-text-yellon: #feb302;
    --color-yellon: #feb303;
    --color-cinza-claro: #8b8b8d;
    --color-cinza-escuro: #424242;

        /* Tamanhos de textos padroes*/
    --size-text-h1: 40px;
    --size-text-h2: 23px;
    --size-text-conteudo: 16px;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-color)
}
h1 {
    margin-top: 1rem;
    color: var(--color-text-white);
}
#conteiner {
    display: flex;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
}
#conteiner main {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}
.area-foto {
    max-height: 450px;
    max-width: 400px;
    padding: 10px;
    border: 1px solid var(--color-yellon);
    border-radius: 10px;
}
.foto img {
    max-width: 350px;
    max-height: 350px;
}
